<html>
<head>
    <title>GLink</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/output.css">
</head>
<body class="bg-gray-50">
<h1 id="head" class="ml-4 text-5xl font-narrow">Link Shortener</h1>
<p class="ml-4 font-fingerpaint">Hello There!</p>


<nav class="flex items-center lg:justify-between sm:justify-center flex-wrap bg-gray-500 p-6 shadow-lg shadow-black/50 sticky top-0 opacity-100"> <!--dark:bg-black-->
    <div class="block lg:hidden cursor-pointer flex:none mr-4" id="HamburgerInactive">
        <button id="btn" class="flex flex-col items-center px-3 py-[0.4375rem] border rounded text-teal-200 border-teal-400">
            <span class="block h-0.5 w-5 mb-1 origin-center rounded-full bg-teal-200"></span>
            <span class="block h-0.5 w-5 mb-1 origin-center rounded-full bg-teal-200"></span>
            <span class="block h-0.5 w-5 origin-center rounded-full bg-teal-200"></span>
        </button>
    </div>
    <div id="HamburgerActive" class="hidden lg:hidden flex:none cursor-pointer mr-4 block">
        <button class="space-y-2 px-3 py-2 border rounded text-teal-200 border-teal-400" >
            <span class="block h-0.5 w-5 origin-center rounded-full bg-teal-200 translate-y-1.5 rotate-45"></span>
            <span class="block h-0.5 w-5 origin-center rounded-full bg-teal-200 -translate-y-1 -rotate-45"></span>
            <span class="hidden h-0.5 w-5 origin-center rounded-full bg-white"></span>
        </button>
    </div>
    <div class="flex items-center flex-shrink-0 text-white mr-6 sm:flex-1 lg:flex-none sm:justify-center">
        <svg id="logo" class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
        <span class="font-semibold text-xl tracking-tight">G-Link</span>
    </div>
    <div id="menu-options" class="bg-gray-500 w-full lg:block flex-grow lg:flex lg:items-center lg:w-auto hidden">
        <div class="text-sm lg:flex-grow">
            <a href="#head" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-black mr-4 hover:bg-gray-200 hover:border hover:border-gray-200 hover:rounded text-teal-200 py-1 px-3">
                A
            </a>
            <a href="#head" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-black mr-4 hover:bg-gray-200 hover:border hover:border-gray-200 hover:rounded text-teal-200 py-1 px-3">
                B
            </a>
            <a href="#head" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-black mr-4 hover:bg-gray-200 hover:border hover:border-gray-200 hover:rounded text-teal-200 py-1 px-3">
                C
            </a>
            <a href="/" class="block mt-4 lg:inline-block lg:mt-0 bg-blue-600 brightness-125 border border-blue-500 rounded text-teal-200 hover:text-black py-1 px-3">
                Products (Form)
            </a>
        </div>

        <div>
            <a href="signup.html" class="inline-block <%= signup %> text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0 mr-4">
                signup
            </a>
        </div>
        <div>
            <a href="<%= loc %>" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
                <%= tagline %>
            </a>
        </div>
    </div>
    <script>
        let active = document.getElementById("HamburgerActive");
        let inactive = document.getElementById("HamburgerInactive");
        let options = document.querySelector("#menu-options");
        active.addEventListener("click", ()=>{
            active.classList.add("hidden");
            inactive.classList.remove("hidden");
            options.classList.toggle("hidden");
        })
        inactive.addEventListener("mouseup", ()=>{
            inactive.classList.add("hidden");
            active.classList.remove("hidden");
            options.classList.toggle("hidden");
        });
    </script>
</nav>


<div id="root" class="mt-4 w-full">
    <div id="formspace" class="flex flex-wrap flex-row w-full">
        <form id="form" class="lg:w-1/2 sm:w-full justify-center" action="/__add" method="post" onsubmit="return validate()">
            <div class="flex flex-wrap">
                <label for="URL" class="text-2xl ml-4 font-rubik self-center">URL</label>
                <span class="mandatory font-rubik self-center text-2xl">*</span>
                <span class="font-rubik self-center m-1 text-2xl">:</span>
                <div class="p-0.5 m-4 rounded-lg max-w-sm bg-gradient-to-r from-cyan-500 to-cyan-500 focus-within:from-rose-400 focus-within:via-fuchsia-500 focus-within:to-indigo-500 focus-within:caret-gray-600 focus-within:p-[3.2px]">
                    <input type="text" name="url" id="URL" placeholder="https://example.com" required class="p-2 w-full rounded-lg focus:outline-none focus:shadow-lg focus:focus:shadow-black/50 text-center text-lg text-black font-bold">
                </div>
            </div>

            <div class="flex flex-wrap">
                <label for="labels" class="text-2xl ml-4 font-rubik self-center">GLink</label>
                <span class="mandatory font-rubik text-2xl self-center">*</span>
                <span class="font-rubik self-center m-1 text-2xl">:</span>
                <label for="GLink" id="labels" class=" ml-2 glink text-center text-xl self-center">glink.zip/</label>
                <div class="p-0.5 ml-2 mr-4 my-4 rounded-lg max-w-sm bg-gradient-to-r from-cyan-500 to-cyan-500 focus-within:from-rose-400 focus-within:via-fuchsia-500 focus-within:to-indigo-500 focus-within:caret-gray-600 focus-within:p-[3.2px]">
                    <input type="text" name="glink" id="GLink" class="glink p-2 w-full rounded-lg focus:outline-none focus:shadow-lg focus:focus:shadow-black/50 text-center text-lg text-black font-bold" placeholder="exampleWebsite">
                </div>
            </div>

            <label for="restricted" class="ml-4 self-center text-2xl font-rubik">Geo-restricted? : </label><input type="checkbox" name="restricted" id="restricted" class="ml-2 mr-4 my-4 text-center font-rubik ease-soft rounded-1.4 w-6 h-6 cursor-pointer checked:accent-blue-700 shadow-lg shadow-black/50 peer"><span id="loadingText" class="font-rubik self-center text-center text-xl" style="position: relative; left: 20px;"></span>

            <span class="flex flex-wrap invisible peer-checked:visible" id="js-enabled">
                <label for="radiusSelect" id="radiusLabel" class="ml-4 font-rubik text-2xl self-center">Radius</label><span id="mandatory-radius" class="mandatory font-rubik text-2xl self-center">*</span><span class="font-rubik self-center m-1 text-2xl">:</span>
                <div class="p-0.5 ml-2 mr-4 my-4 rounded-lg max-w-sm bg-gradient-to-r from-cyan-500 to-cyan-500 focus-within:from-rose-400 focus-within:via-fuchsia-500 focus-within:to-indigo-500 focus-within:p-[3.2px]">
                    <select name="radiusSelect" id="radiusSelect" class="cursor-pointer text-lg p-2 w-full rounded-lg focus:outline-none invalid:text-gray-400 font-bold">
                        <option value="" selected disabled hidden>Choose a radius for your geo link</option>
                        <option value="5">5 mi</option>
                        <option value="10">10 mi</option>
                        <option value="15">15 mi</option>
                        <option value="20">20 mi</option>
                    </select>
                </div>
            </span>
            <noscript>
                <style>
                    #js-enabled {display: none;}
                </style>
            </noscript>
            <span role="alert" class="m-4 font-rubik" id="error" aria-hidden="true">Invalid entry</span>
            <input type="submit" id="button" value="Zip It!" class="scale-125 brightness-125 ml-20 font-rubik bg-gradient-to-r from-cyan-500 to-blue-500 hover:from-cyan-400 hover:to-blue-400 hover:shadow-lg hover:shadow-black/50 transition hover:-translate-y-1 hover:scale-150 duration-600 ease-in-out rounded-full cursor-pointer">
            <input type="hidden" name="latitude" id="latitude">
            <input type="hidden" name="longitude" id="longitude">

        </form>
        <div class="lg:w-1/2 sm:w-full mt-4">
            <ul class="list-decimal text-left flex flex-col flex-wrap text-lg mx-8 mb-8">
                <li class="mb-3">Enter the URL</li>
                <li class="mb-3">Enter the GLink - a keyword used to identify your URL. This is optional, and if left blank, a random GLink will be generated for you.</li>
                <li class="mb-3">The GLink that you enter will be appended to the URL, like so: glink.zip/example</li>
                <li class="mb-3">If you don't want to geo-restrict it, you're good to go! Skip to step 6.</li>
                <li class="mb-3">If you want to geo-restrict the link, select the checkbox, and provide a radius to use as a 'containment zone'. Only those individuals who are within that radius from your current location will be able to access the Glink.</li>
                <li>Click 'Zip it!' to generate your custom URL.</li>
            </ul>
        </div>
    </div>
    <hr>
    <img src="images/cat.gif">
    <p id="footer" class="object-none object-bottom">Insert Footer Here</p>
    <script src="src/index.js"></script>

</div>
</body>
</html>